@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font: 400 16px/21.31px "Roboto", sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  box-sizing: border-box;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 264px 0 240px;
}

.title {
  font: 900 48px "Impact", sans-serif;
}

/* header =======================================================*/

.header {
  color: white;
  display: flex;
  justify-content: space-between;
}

.header-logo {
  display: flex;
  font-weight: 800;
  width: 45%;
  align-items: center;
  font-size: 32px;
}

.header-navigation {
  border: #fff solid 1px;
  border-radius: 70px;
  padding: 6px 5px;
}

.first-step-bg {
  height: 763px;
  width: 100%;
  position: absolute;
  background: url(/images/people-bg.jpeg) center center/cover no-repeat;
  backdrop-filter: blur(100%);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 763px;
  background: rgba(20, 21, 22, 0.48);
  pointer-events: none;
  z-index: 10;
}

.nav-item {
  padding: 10px 14px;
}

.nav-item-active {
  cursor: pointer;
  background-color: #883cda;
  border-radius: 50px;
}

.nav-item:hover {
  cursor: pointer;
  background-color: #883cda;
  border-radius: 50px;
}

/* metrics section =======================================================*/

.metrics {
  padding: 10px 0;
}

.metrics .metrics-wrapper {
  display: flex;
  gap: 60px;
}

.metrics .metrics-wrapper .metrics-wrapper-information {
  margin-top: 24px;
  max-width: 720px;
  width: 100%;
}

.metrics
  .metrics-wrapper
  .metrics-wrapper-information
  .metrics-wrapper-information-text {
  max-width: 400px;
  width: 100%;
  margin-bottom: 35px;
}

.metrics .metrics-wrapper .metrics-wrapper-cards {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  color: white;
}

.metrics .metrics-wrapper .metrics-wrapper-cards .metrics-wrapper-cards-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 196px;
  width: calc(100% / 3 - 28px);
  margin-bottom: 32px;
  border-radius: 35px;
}

.metrics
  .metrics-wrapper
  .metrics-wrapper-cards
  .metrics-wrapper-cards-card:nth-child(n + 4) {
  margin-bottom: 0px;
}

.metrics
  .metrics-wrapper
  .metrics-wrapper-cards
  .metrics-wrapper-cards-card:nth-child(n + 4)
  .metrics-wrapper-cards-card-icon {
  margin-top: 40px;
}

.metrics
  .metrics-wrapper
  .metrics-wrapper-cards
  .metrics-wrapper-cards-card
  .metrics-wrapper-cards-card-icon {
  width: 35px;
  height: 35px;
  line-height: normal;
  margin-top: 45px;
}

.metrics
  .metrics-wrapper
  .metrics-wrapper-cards
  .metrics-wrapper-cards-card
  .metrics-wrapper-cards-card-number {
  font: 900 48px "Impact", sans-serif;
  margin: 23px 0 12px;
}

.metrics
  .metrics-wrapper
  .metrics-wrapper-cards
  .metrics-wrapper-cards-card
  .metrics-wrapper-cards-card-text {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.star {
  background-color: #fb7c84;
  padding: 0 30px;
}

.bar {
  background-color: #ffb865;
  margin: 0 24px;
}

.shapes {
  background-color: #d4ee47;
  padding: 0 26px;
}

.graduate {
  background-color: #6ed6a4;
  padding: 0 20px;
}

.buiding {
  background-color: #883cda;
  margin: 0 24px;
}

.child {
  background-color: #5ac4ff;
}

/* success section ======================================================*/

.success {
  margin-top: 140px;
}

.success .success-title {
  max-width: 542px;
  width: 100%;
  margin-bottom: 32px;
}

.success .success-text {
  max-width: 368px;
  width: 100%;
}

.success .success-wrapper {
  display: grid;
  grid-template-columns: 336px 24px 336px 24px 336px 24px 336px;
  grid-template-rows: 370px 24px 370px;
  margin-top: 17px;
}

.success .success-wrapper .success-wrapper-card {
  display: flex;
  flex-direction: column;
  padding: 40px 24px 32px 32px;
}

.success .success-wrapper .success-wrapper-card:nth-child(2) {
  grid-column: 3;
  grid-row: 1;
}

.success .success-wrapper .success-wrapper-card:nth-child(3) {
  grid-column: 5;
  grid-row: 1;
}

.success .success-wrapper .success-wrapper-card:nth-child(4) {
  grid-column: 5;
  grid-row: 3;
}

.success .success-wrapper .success-wrapper-card .success-wrapper-card-title {
  font: 700 24px "Roboto", sans-serif;
  margin-bottom: 8px;
}

.success .success-wrapper .success-wrapper-card .success-wrapper-card-text {
  font-size: 18px;
}

.link-wrapper {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding: 16px 24px;
  width: 216px;
  border-radius: 35px;
  border: 1px solid #883cda;
}

.success .success-wrapper .success-wrapper-card .arrow {
  width: 14px;
  height: 14px;
  margin-left: 16px;
}

.success .success-wrapper .success-wrapper-card .success-wrapper-card-link {
  width: 134px;
  color: #883cda;
  font-weight: 700;
  text-decoration: none;
}

.first {
  grid-column: 1/3;
  grid-row: 3;
}

.second {
  grid-column: 7;
  grid-row: 1/3;
}
/*footer =======================================================*/

footer {
  background: black;
  color: white;
  font-family: "Inter";
  margin-top: 100px;
  padding-bottom: 20px;
}

footer a {
  text-decoration: none;
  color: white;
}

footer .inner {
  display: flex;
  justify-content: center;
  padding: 100px 0 54px;
}

footer .inner .inner-information {
  max-width: 224px;
  font-size: 13px;
  line-height: 22px;
}

footer .inner .inner-information .inner-information-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 800;
}

footer .inner .inner-information .inner-information-text {
  color: #787878;
  margin: 15px 0;
}

footer .inner .inner-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 88px;
  margin: 0 108px 0 88px;
}

footer .inner .inner-wrapper .inner-wrapper-list {
  padding: 0;
  margin: 0;
}

footer .inner .inner-contacts {
  display: flex;
  flex-direction: column;
  line-height: 22px;
}

footer .inner .inner-contacts .inner-contacts-number {
  letter-spacing: 0.16px;
}

footer .inner .inner-contacts .inner-contacts-text {
  font-size: 13px;
  margin: 13px 0 0;
}

footer .inner .inner-contacts .inner-contacts-references {
  display: flex;
  gap: 16px;
  margin-top: auto;
}

footer .wrapper {
  text-align: center;
  margin-bottom: 16px;
}

footer .wrapper .wrapper-study_link {
  display: inline-block;
  font: 600 22px/32px;
  position: relative;
}

footer .wrapper .wrapper-study_link::after {
  position: absolute;
  content: "";
  border-radius: 50%;
  background-color: #00d15d;
  width: 8px;
  height: 8px;
  top: 50%;
  left: calc(100% + 13px);
  transform: translateY(-50%);
  cursor: auto;
}
